:root {
    --black: #150605;
    --red: #EA453C;
    --pink: #F47B6E;
    --light-blue: #EFFBFE;
    --blue: #2D31FA;
    --textbox: rgba(207, 109, 28, 0.8);
    --home-background1: rgba(0,0,0,0.1);
}

html, body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

.home-page {
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    /* scroll-snap-points-y: repeat(300px); */
    /* overflow-y: scroll; */
    height: 100vh;
    padding: 20px;
    
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #EFFBFE;
    border-bottom: solid;
    color: var(--light-blue);
    scroll-snap-align: start;
    /* filter: blur(2px);
    -webkit-filter: blur(3px); */
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.section-1 {
    background-image: url(../images/tunnel-night.jpg);
}

.section-2 {
    background-image: url(../images/axceed.jpg);
}

.section-3 {
    background-image: url(../images/bus-jumbo-1.jpg);
}

.hero-text-box {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.75); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    width: 50vw;
    min-height: 10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.hero-text-box > p {
    font-weight: 200;
}

.home-page-btn {
    width: 110px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 20px;
    /* background: linear-gradient(45deg, #F76E11 1.18%, #FFBC80 100%); */
    background-color: #F76E11;
    -webkit-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
    -moz-box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
    box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
}

.header-right-link {
    margin-right: 10px;
    font-size: 1.3em;
    font-weight: 400;
}

.header-right-link:hover {
    font-weight: 800;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:visited { color: var(--light-blue); }
a:hover { color: var(--light-blue); }
a:active { color: var(--light-blue); }

.image-container {
    position: relative;
    padding: 10px 5vw;
    height: 300px;
}

.product-image {
    width: 90vw;
    height: 100%;
    object-fit: cover;
}

/* common textbox styles when showing/not showing */
.product-textbox, .image-container:hover .product-textbox {
    position: absolute;
    padding: 10px;
    width: 90vw;
    min-height: 30%;
}

.product-textbox {
 color: transparent;
 bottom: 0;
 transition: 1s;
}

.image-container:hover .product-textbox {
    display: block;
    bottom: 10px;
    color: black;
    background-color: var(--textbox);
}

.favorite {
    color: var(--red);
    font-size: 2.6rem;
    position: absolute;
    top: 15px;
    left: 6vw;
    cursor: pointer;
}

.cart {
    color: var(--red);
    font-size: 2.6rem;
    position: absolute;
    top: 60px;
    left: 6vw;
    cursor: pointer;
}

.detial-icon {
    color: var(--red) !important;
    font-size: 2.6rem;
    position: absolute;
    top: 15px;
    right: 6vw;
    cursor: pointer;
}

.trashbin {
    font-size: 2.2rem;
}

main.cart-page {
    padding: 10px;
}

.cart-page > h1 {
    text-align: center;
}

.cart-page .total-cost {
    text-align: right;
    font-size: 1.5em;
}

.cart-page div.order-button {
    display: flex;
    justify-content: center;
}

div.order-button > button {
    border-color: var(--black);
    cursor: pointer;
    padding: 15px;
    transition: all .2s ease-in-out;
}

div.order-button > button:focus {
    outline: none;
}

div.order-button > button:disabled {
    border-color: lightgray;
}

.cart-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding-bottom: 15px;
    border-bottom: 2px solid #DDDDDD;
}

.cart-item img {
    margin-left: 10px;   
    width: 150px;
}

.cart-item-name {
    margin-left: 20px;
}

.cart-item-price {
    font-size: 1.2em;
    margin-left: auto;
    margin-right: 10px;
}

@media only screen and (max-width: 530px) {
    .cart-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        border-bottom: 2px solid var(--black);
    }

    .trashbin {
        display: none;
    }

    .cart-item img {
        margin: auto; 
        width: 80%;
    }
    
    .cart-item-name {
        margin: auto;
    }
    
    .cart-item-price {
        margin: auto;
    }
  }
